<section class="player-bar" ng-controller="Album.controller">
  <div class="container">
    <div class="control-group main-controls">

      <a class="previous">
        <span class="ion-skip-backward" ng-click="playPreviousSong(currentSong)"></span>
      </a>
      <a class="play-pause">
        <span class="ion-play" ng-hide="currentSong.playing" ng-click="playOrPause(currentSong)"></span>
        <span class="ion-pause" ng-show="currentSong.playing" ng-click="playOrPause(currentSong)"></span>
      </a>
      <a class="next">
        <span class="ion-skip-forward" ng-click="playNextSong(currentSong)"></span>
      </a>
    </div>
    <div class="control-group currently-playing">
      <h2 class="song-name">{{currentSong.name}}</h2>
      <h2 class="artist-song-mobile"></h2>
      <h3 class="artist-name"></h3>
      <div class="seek-control">
        <slider value='{{timeData.percent}}' max='{{songPlayer.currentSong.length}}' on-change='songPlayer.setPercent(value)'></slider>
        <div class="current-time">{{timeData.time}}</div>
        <div class="total-time">{{duration}}</div>
      </div>
    </div>
    <div class="control-group volume">
      <span class="icon ion-volume-high"></span>
      <slider value='{{songPlayer.getVolume()}}' max='100' on-change='songPlayer.setVolume(value)'></slider>
    </div>
  </div>
</section>
