<main class="album-view container narrow">
  <section class="clearfix">
    <div class="column half">
      <img class="album-cover-art" src="/{{album.albumArtUrl}}">
    </div>
    <div class="album-view-details column half">
      <h2 class="album-view-title">{{album.title}}</h2>
      <h3 class="album-view-artist">{{album.artist}}</h3>
      <h5 class="album-view-release-info">{{album.year}} {{album.label}}</h5>
    </div>
  </section>
<table class="album-view-song-list">
  <tr class="album-view-song-item" ng-repeat="song in album.songs" ng-click="playOrPause(song)" ng-mouseover="hovered = true" ng-mouseleave="hovered = false">
    <td class="song-item-number">
      <span ng-show="!hovered && !song.playing">{{$index + 1}}</span>
      <a class="album-song-button" ng-show="hovered && !song.playing"><span class="ion-play"></span></a>
      <a class="album-song-button" ng-show="song.playing"><span class="ion-pause"></span></a>
    </td>
    <td class="song-item-title">{{song.name}}</td>
    <td class="song-item-duration">{{song.length}}</td>
  </tr>
</table>
</main>
<section class="player-bar">
  <div class="container">
    <div class="control-group main-controls">

      <a class="previous">
        <span class="ion-skip-backward" ng-click="playPreviousSong(currentSong)"></span>
      </a>
      <a class="play-pause">
        <span class="ion-play" ng-hide="currentSong.playing" ng-click="playOrPause(currentSong)"></span>
        <span class="ion-pause" ng-show="currentSong.playing" ng-click="playOrPause(currentSong)"></span>
      </a>
      <a class="next">
        <span class="ion-skip-forward" ng-click="playNextSong(currentSong)"></span>
      </a>
    </div>
    <div class="control-group currently-playing">
      <h2 class="song-name">{{currentSong.name}}</h2>
      <h2 class="artist-song-mobile"></h2>
      <h3 class="artist-name"></h3>
      <div class="seek-control">
        <slider value='{{timeData.percent}}' max='{{songPlayer.currentSong.length}}' on-change='songPlayer.setPercent(value)'></slider>
        <div class="current-time">{{timeData.time}}</div>
        <div class="total-time">{{duration}}</div>
      </div>
    </div>
    <div class="control-group volume">
      <span class="icon ion-volume-high"></span>
      <slider></slider>
    </div>
  </div>
</section>
